<!--
    {% extends "base.html" %}
{% block title %}Home Page{% endblock %}
-->


<!DOCTYPE html>
<html lang="en">
   
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    <style>

    </style>
</head> 
<body>

<div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
           <div class="profile">
            <img src="https://cdn.discordapp.com/attachments/1075201364214419560/1086491040908857344/logo_transparent.png">
            <h3>TripMate</h3>
           
        </div>
            <!--menu item-->
            <ul>
              <li>
                  <a href="#" class="active">
                      <span class="icon"><i class="fas fa-home"></i></span>
                      <span class="item">Home</span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
                      <span class="item">Calender</span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="icon"><i class="fa-solid fa-list"></i></span>
                      <span class="item">To do List</span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="icon"><i class="fa-solid fa-suitcase"></i></span>
                      <span class="item">Packing List</span>
                  </a>
              </li>
              
              <li>
                  <a href="#">
                      <span class="icon"><i class="fas fa-cog"></i></span>
                      <span class="item">Settings</span>
                  </a>
              </li>
          </ul>
      </div>

      
        </div>

    </div>
  <script>

  </script>

  
    
</body>
</html>





    
