<!DOCTYPE html>
<html>
<head>
	<title> &#127754;&#127754; Welcome to TripMate! &#127754;&#127754;</title>
	<link rel="icon" type="image/x-icon" href="Images/SmallLogo-3.jpg">
    <link rel="stylesheet" href="Landing.css">
</head>
<body>
	<header>
        <div class="logo">
            <a href="#" class="plane"></a>
            <h1>TripMate</h1>
        </div>
	</header>
    <script type="text/javascript">
        function toggle() {
            var int = document.getElementById('int');
            int.classList.toggle('active');
        }
    </script>
	<main>
		<section class="hero">
            <div class="box">
                <h2>Experts at adventure.</h2>
                <p>The best toolbelt to organize your trips!</p>
                <p>TripMate offers a to-do list, calendar, and a packing list... all for FREE!</p>
                <div class="buttons">
                    <a href="#" class="login">Login</a>
                    <a href="#" class="signup">Sign Up</a>
                </div>
            </div>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 TripMate. All rights reserved.</p>
        <div class="social">
            <a href="https://www.facebook.com/alex.eugene.hunt" target="_blank" id="FB"></a>
            <a href="https://twitter.com/AlexEugeneHunt" target="_blank" id="TW"></a>
            <a href="https://www.linkedin.com/in/alex-hunt-4782a4179/" target="_blank" id="LN"></a>
            <div id="toggle" onclick="toggle()"></div>
        </div>
	</footer>
</body>
</html>