{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block container %}
<style>
    .card{
        grid-row: 2/3;
        grid-column: 2/3;
        margin: 30px auto;
        display: grid;
        grid-template-rows: 1fr 8fr 1fr ;
    }
    .card div{
        grid-row: 2/3;
    }   
    footer{
      position: absolute;
    } 
</style>

<div class="card border-dark mb-3" style="max-width: 25rem;">
    <div class="card-body">
        <h2 class="card-title" style="text-align: center;">Log In</h2>
        <br>
        <form class="row g-3" method="POST">
            <div class="col-12">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email">
            </div>
            <div class="col-12">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password">
            </div>
            <div class="col-md-4"></div>
            <button type="submit" class="btn btn-primary col-md-4 my-3">Log in</button>
            <div class="col-md-4"></div>
        </form>
        <div class="row g-3">
          <a href="/signup" class="col-md-6" style="font-size: 13px; text-align: center;">Don't have an account?</a>
          <a href="/signup" class="col-md-6" style="font-size: 13px; text-align: center;">Forgot Password</a>
        </div>
      </div>
</div>

{% endblock %}