<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/TranPlaneBlack.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/signup.css') }}">
</head>
<body>
	<header>
        <div class="logo">
            <a href="/" class="plane"></a>
            <h1>TripMate</h1>
        </div>
	</header>
    <script type="text/javascript">
        function toggle() {
            var int = document.getElementById('int');
            int.classList.toggle('active');
        }
    </script>
	<main>
        <section class="hero">
            <div class="signup-box">
                <h2>Sign Up </h2>
                <form method="POST">
                    <div class="input-container name">
                        <div class="inline">
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstName" name="firstName" required>
                        </div>
                        <div class="inline">
                            <label for="lastName">Last Name:</label>
                            <input type="text" id="lastName" name="lastName" required>
                        </div>
                    </div>
                    <div class="input-container">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="inputEmail4" name="email" required>
                    </div>
                    <div class="input-container">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" name="password1" required>
                    </div>
                    <div class="input-container">
                        <label for="inputPassword4" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="inputPassword4" name="password2" required>
                    </div>
                    <button class="btn-primary">Sign Up</button>
                </form>
                <div class="links">
                    <p>Already have an account? <a href="/login/">Log in here.</a></p>
                </div>
            </div>
        </section>
	</main>
	<footer>
        <p>&copy; 2023 TripMate. All rights reserved. Email us at TripMate@gmail.com.</p>
        <div class="social">
            <a href="https://www.facebook.com/alex.eugene.hunt" target="_blank" id="FB"></a>
            <a href="https://twitter.com/AlexEugeneHunt" target="_blank" id="TW"></a>
            <a href="https://www.linkedin.com/in/alex-hunt-4782a4179/" target="_blank" id="LN"></a>
            <div id="toggle" onclick="toggle()"></div>
        </div>
	</footer>
</body>
</html>